*{
    box-sizing: border-box;
}

/* FLEXBOXES and ITS PROPERTIES*/

body{
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
}

h1{
    align-self: center;
}

.container{
    display: flex;
    flex-direction: column;
}

.buttons{
    display:flex;
    justify-content: space-evenly;
}

.score{
    display: flex;
    justify-content: center;
}

/* MARGINS, PADDINGS AND GAPS */

body{
    gap:2vw;
    margin:2.5vw 10vw;
}

.container{
    margin:1vh 5vw;
}

.score{
    gap: 10vw;
}

/* COLOURS */

body{
    background-color: #3b3b3b;
    color: #ccc;
}